/* global */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* container */
.container {
  display: flex;
  justify-content: center;  
}

.flexContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1000px;
  min-height: 100vh;
  background-color: #E7E5F5;
}

/* header */
.header {
  display: flex;
  flex-direction: column;
  padding-bottom: 40px;
}

.headerTitle {
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}

.navBar {
  min-height: 50px;
}

.navList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  list-style-type: none;
}

.navItem {
    min-width: 95px;
    text-align: center;
}

.navButton {
  background-color: #7CC89B;
  font-size: 20px;
  color: white;
  border: none;
  border-radius: 25px;
  padding: 8px 5px;
  transition: all 1s;
  clear: both;
}

.navButton:hover {
  font-size: 25px;
  background-color: #B4C455;
  color: #520F82;
}

/* main */
.news {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 21px;
}

.newsItem {
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #520F82;
  color: white;
  font-size: 20px;
  transition: all 2s;
}

.newsItem:hover {
  transform: rotate(0.5turn);
}

/* footer */
footer {
  min-height: 200px;
  display: flex;
  align-items: flex-end;
}

.ball {
  width: 40px;
  height: 40px;
  background-color: #520F82;
  border-radius: 50%;
  animation-name: ballAnim;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
  .ball:hover {
    animation-name: ballAnim;
    animation-play-state: paused;    
  }

/* animation for ball */

@keyframes ballAnim {
  0% {
    background-color: #520F82;
  }

  10% {
    background-color: #B5B159;
    margin-bottom: 15%;
    margin-left: 8%;
  }

  20% {
    background-color: #B5B159;
    margin-bottom: 0;
    margin-left: 15%;
  }

  30% {
    background-color: #76DE1E;
    margin-bottom: 15%;
    margin-left: 24%;
  }

  40% {
    background-color: #28D1C5;
    margin-bottom: 0;
    margin-left: 32%;
  }

  50% {
    background-color: #397EDD;
    margin-bottom: 15%;
    margin-left: 42%;
  }

  60% {
    background-color: #EB81D6;
    margin-bottom: 0;
    margin-left: 48%;
  }

  70% {
    background-color: #FC8178;
    margin-bottom: 15%;
    margin-left: 65%;
  }

  80% {
    background-color: #AD2F17;
    margin-bottom: 0;
    margin-left: 75%;
  }

  90% {
    background-color: #83127C;
    margin-bottom: 15%;
    margin-left: 85%;
  }

  100% {
    background-color: #6B55B0;
    margin-bottom: 0;
    margin-left: 96%;
  }
}