/* global */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1200px;
  width: 100%;
  max-height: 779px;
  margin: auto;
}

h1, h2 {
  display: grid;
  justify-content: center;
  font-size: 50px;
  color: white;
  text-transform: uppercase;
}

button {
  background-color: white;
  border: none;
  border-radius: 15px;
  padding: 5px 10px;
  font-size: 20px;
}

/* header */
header {
  background-color: #8fbc8f;
}

.navigation ul {
  display: grid;
  list-style-type: none;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-gap: 5px;
  padding-bottom: 20px;
  
}

.navigation ul>li {
  display: grid;
  justify-content: center;
}

/* main */
main {
  background-color: #4682b4;
  height: auto;
}

.mainGrid {
  display: grid;
  gap: 20px;
  padding: 20px 20px;
  
}

.mainGrid div {
  display: grid;
  justify-content: center;
  align-items: center;
  background-color: #3333b6;
  font-size: 40px;
  color:white;
  padding: 20px 0;
}

.mainGrid div:nth-child(3) {
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 3;
  grid-column-end: 5;
}

.mainGrid div:nth-child(6) {
  grid-row-start: 3;
  grid-row-end: 9;
  grid-column-start: 1;
  grid-column-end: 3;
}

.mainGrid div:nth-child(9) {
  grid-row-start: 4;
  grid-row-end: 10;
  grid-column-start: 3;
  grid-column-end: 5;
}

/* footer */
footer {
  background-color: #87ceeb;
}

