/* global */
* {
  padding: 0;
  margin: 0;
}

span {
  color: white;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  padding: 10px 0;
  font-size: 30px;
  font-weight: 700;
}

/* header */
header {
  background-color: #8fbc8f;
  width: 60%;
  margin: auto;
}

nav {
  display: flex;
  justify-content: space-around;
  column-gap: 35px;
  flex-wrap: wrap;
  padding-bottom: 10px;
}

button {
  background-color: white;
  border: none;
  border-radius: 15px;
  padding: 6px; 
}

/* main */
main {
  background-color: #4682b4;
  width: 60%;
  margin: auto;
  height: auto;
}

.sectionBlock {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding-bottom: 40px;
}

.block {
  width: 200px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3333b6;
  color: white;
  font-size: 40px;
  font-weight: 700;
}

/* footer */
footer {
  background-color: #87ceeb;
  width: 60%;
  margin: auto;
}