.infoContainer {
  display: flex;
  justify-content: center;
}

.infoFlexContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 29px;

  background-image: url(../img/info/infoBackground.png);

  max-width: 1920px;
  width: 100%;
  height: 397px;
}

.about {
  display: flex;
  flex-direction: column;

  max-width: 351px;
  width: 100%;
  height: auto;
  margin-top: 82px;
}

.aboutTitle {
  margin-bottom: 42px;

  font-size: 24px;
  line-height: 28.13px;
  font-family: "PlayfairDisplay-Regular";
  text-transform: uppercase;
  letter-spacing: -0.6px;
  color: #FFFFFF;
}

.aboutDescription {
  font-size: 14px;
  line-height: 21px;
  font-family: "PTSans-Regular";
  color: #FFFFFF;
}

.categories {
  display: flex;
  flex-direction: column;

  max-width: 351px;
  width: 100%;
  height: auto;
  margin-top: 82px;
}

.categoriesTitle {
  margin-bottom: 42px;

  font-size: 24px;
  line-height: 28.13px;
  font-family: "PlayfairDisplay-Regular";
  text-transform: uppercase;
  letter-spacing: -0.6px;
  color: #FFFFFF;
}

.categoriesList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 21px;
  row-gap: 20px;

  list-style-type: none;
}

.categoriesButton {
  padding: 10px 20px;
  border: none;

  background-color: #000000;

  font-size: 14px;
  line-height: 21px;
  font-family: "PTSans-Regular";
  color: #D0D0D0;

  cursor: pointer;
}

.categoriesButton:active {
  background-color: #1F1F1F;
}

.distribution {
  display: flex;
  flex-direction: column;

  max-width: 351px;
  width: 100%;
  height: auto;
  margin-top: 82px;
}

.distributionTitle {
  margin-bottom: 42px;

  font-size: 24px;
  line-height: 28.13px;
  font-family: "PlayfairDisplay-Regular";
  text-transform: uppercase;
  letter-spacing: -0.6px;
  color: #FFFFFF; 
}

.distributionDescription {
  margin-bottom: 37px;
  font-size: 14px;
  line-height: 21px;
  font-family: "PTSans-Regular";
  color: #FFFFFF;
}

.distributionInput {
  border: none;
  border-radius: 0;

  padding-bottom: 2px;
  padding-left: 16px;
  width: 210px;
  height: 41.6px;
  background: rgba(255, 255, 255, 0.4);
  
  color: #FFFFFF;
  letter-spacing: -0.2px;
}

.distributionInput::placeholder {
  color: #FFFFFF;
}

.distributionButton {
  padding: 10px 20px;

  border: none;
  background-color: #000000;

  font-size: 14px;
  line-height: 21px;
  font-family: "PTSans-Regular";
  text-transform: uppercase;
  letter-spacing: 0.7px;
  color: #FFFFFF;
  
  cursor: pointer;
}

.distributionButton:active {
  background-color: #1F1F1F;
}

/* Media Queries */
@media (min-width: 1200px) and (max-width: 1600px) {
  .infoFlexContainer {
    background-position-x: center;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .infoFlexContainer {
    background-position-x: center;
  }

  .about {
    max-width: 251px;
  }

  .categories {
    align-items: center;
    max-width: 251px;
  }

  .categoriesList {
    justify-content: center;
  }

  .distribution {
    max-width: 251px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .infoFlexContainer {
    column-gap: 0;
    background-position-x: center;
  }

  .about {
    max-width: 251px;
  }

  .categories {
    align-items: center;
    max-width: 251px;
  }

  .categoriesList {
    justify-content: center;
  }

  .distribution {
    max-width: 251px;
  }
}

@media (max-width: 767px) {
  .infoFlexContainer {
    column-gap: 0;
    
background-color: #191B1C;
height: auto;
  }

  .about {
    margin-top: 40px;
  }

  .categories {
    margin-top: 40px;
  }

  .distribution {
    margin-top: 40px;
    margin-bottom: 37px;
  }
}